Repository Nordix/Meridio, pull requests merged in 2022-08, with the labels that each got.

#261 ctraffic image updated to 22.04
  build/ctraffic/Dockerfile
Labels: kind/enhancement, size/S

#242 Update to Golang 1.19
  build/ctraffic/Dockerfile
  build/frontend/Dockerfile
  build/ipam/Dockerfile
  build/load-balancer/Dockerfile
  build/nsp/Dockerfile
  build/proxy/Dockerfile
  build/tapa/Dockerfile
  go.mod
  go.sum
  pkg/endpoint/endpoint.go
  pkg/nsm/endpoint/server.go
Labels: kind/enhancement, size/S

#256 Make tools, Proto generator updated
  .gitignore
  Makefile
  api/ambassador/v1/tap.pb.go
  api/ambassador/v1/tap_grpc.pb.go
  api/ipam/v1/ipam.pb.go
  api/ipam/v1/ipam_grpc.pb.go
  api/nsp/v1/configurationmanager.pb.go
  api/nsp/v1/configurationmanager_grpc.pb.go
  api/nsp/v1/model.pb.go
  api/nsp/v1/targetregistry.pb.go
  api/nsp/v1/targetregistry_grpc.pb.go
  pkg/ambassador/tap/tap.go
  pkg/configuration/manager/server.go
  pkg/ipam/server.go
  pkg/nsp/server.go
Labels: kind/enhancement, priority/low, size/M

#257 NSM uplift to 1.5.0
  deployments/helm/values.yaml
  docs/demo/deployments/nsm/values.yaml
  go.mod
  go.sum
Labels: kind/enhancement, size/S

#255 Port NAT moved to conduit
  api/nsp/v1/diff.go
  api/nsp/v1/diff_test.go
  api/nsp/v1/model.pb.go
  api/nsp/v1/model.proto
  api/nsp/v1/utils.go
  cmd/load-balancer/main.go
  docs/concepts.md
  docs/port-nat.md
  docs/resources/port-nat.svg
  pkg/configuration/reader/converter.go
  pkg/configuration/reader/model.go
  pkg/loadbalancer/flow/flow.go
  pkg/loadbalancer/flow/flow_test.go
  pkg/loadbalancer/flow/nfthandler.go
  pkg/loadbalancer/stream/loadbalancer.go
  pkg/nat/handler.go
  pkg/nat/nat.go
Labels: kind/enhancement, size/L, concept/conduit, concept/flow, NBC, area/networking, area/configuration, component/load-balancer

#267 Improved TG/GW for Kind
  docs/demo/scripts/kind/bird/bird-gw.conf
  docs/demo/scripts/kind/external-host.sh
Labels: kind/enhancement, priority/low, size/S, area/CI, area/testing

#237 Fix e2e tests
  Makefile
  docs/readme.md
  docs/resources/Initial-Deployment-E2E.svg
  docs/test.md
  go.mod
  go.sum
  test/e2e/configuration_test.go
  test/e2e/data/kind/configuration-new-vip.yaml
  test/e2e/data/kind/init.yaml
  test/e2e/data/kind/test.sh
  test/e2e/e2e.md
  test/e2e/e2e_suite_test.go
  test/e2e/ingress_traffic_test.go
  test/e2e/multi_trenches_test.go
  test/e2e/scaling_test.go
  test/e2e/target_test.go
  test/e2e/utils/nfqlb.go
  test/e2e/utils/target.go
  test/e2e/utils/trafficgenerator.go
Labels: kind/enhancement, priority/medium, size/L, area/testing

#268 Monitor NSP and IPAM client connection state changes
  cmd/frontend/internal/config/config.go
  cmd/frontend/internal/frontend/service.go
  cmd/frontend/main.go
  cmd/ipam/main.go
  cmd/load-balancer/main.go
  cmd/nsp/main.go
  cmd/proxy/main.go
  deployments/helm/values.yaml
  pkg/health/connection/connection.go
  pkg/health/const.go
  pkg/ipam/server.go
  pkg/ipam/trench/watcher.go
  pkg/nsm/client.go
Labels: kind/enhancement, component/load-balancer, component/front-end, component/proxy, component/NSP, component/IPAM

#269 Update to NFQLB 1.1.0
  build/load-balancer/Dockerfile
Labels: kind/enhancement, size/S, component/load-balancer

#272 fe; BIRD needs CAP_NET_RAW to use SO_BINDTODEVICE
  build/frontend/Dockerfile
  deployments/helm/templates/load-balancer.yaml
  docs/front-end.md
Labels: kind/bug, area/security, area/networking, area/testing, component/front-end

#273 Remove hostport from the NSE-VLAN container
  deployments/helm/templates/nse-vlan.yaml
Labels: kind/bug, size/S, area/configuration, component/nse-vlan

#274 Update dependencies
  go.mod
  go.sum
  pkg/loadbalancer/nfqlb/netfilter.go
  pkg/loadbalancer/stream/defrag.go
  test/applications/target-client/main.go
Labels: kind/bug, area/security
