Repository Nordix/Meridio, pull requests merged in 2022-10, with the labels that each got.

#303 Uplift to NFQLB 1.1.2
  build/load-balancer/Dockerfile
Labels: kind/bug, component/load-balancer

#276 Rename load-balancer to stateless-lb
  CONTRIBUTING.md
  Makefile
  build/stateless-lb/Dockerfile
  cmd/stateless-lb/config.go
  cmd/stateless-lb/egress.go
  cmd/stateless-lb/main.go
  deployments/helm/values.yaml
  docs/overview.md
  docs/proxy.md
  docs/readme.md
  docs/stateless-load-balancer.md
Labels: kind/enhancement, NBC, component/load-balancer

#260 Move target example under /examples/target and ctraffic container renamed
  CONTRIBUTING.md
  Makefile
  deployments/helm/values.yaml
  docs/demo/deployments/xcluster/ovl/meridio/helm/gateway/templates/tg.yaml
  docs/demo/readme.md
  docs/demo/xcluster.md
  docs/test.md
  examples/target/build/example-target/Dockerfile
  examples/target/cmd/target-client/main.go
  examples/target/deployments/helm/Chart.yaml
  examples/target/deployments/helm/templates/target.yaml
  examples/target/deployments/helm/values.yaml
  examples/target/go.mod
  examples/target/go.sum
  examples/target/readme.md
  test/applications/target-client/readme.md
  test/e2e/multi_trenches_test.go
  test/e2e/target_test.go
  test/e2e/utils/kubernetes.go
Labels: kind/enhancement, size/M, area/architecture

#304 Update golang.org/x/text to v0.3.8
  build/base-image/Dockerfile
  examples/target/go.mod
  examples/target/go.sum
  go.mod
  go.sum
Labels: area/security

#307 Upgrade to nfqlb-1.1.3
  build/stateless-lb/Dockerfile
Labels: kind/bug, component/stateless-lb

#308 Environment makefile and test-scope.yaml
  .gitignore
  docs/demo/scripts/kind/Dockerfile
  docs/demo/scripts/kind/Makefile
  docs/demo/scripts/kind/readme.md
  test/e2e/environment/kind-helm/test-scope.yaml
Labels: kind/enhancement, area/CI

#310 Fix ginkgo and kind binary path in Makefiles
  Makefile
  docs/demo/scripts/kind/Makefile
Labels: kind/bug, area/CI

#311 Add missing kind-delete-cluster pre-target
  docs/demo/scripts/kind/Makefile
Labels: kind/bug, area/CI

#312 CI: Kind environement fixes
  docs/demo/scripts/kind/Makefile
  docs/demo/scripts/kind/external-host.sh
  test/e2e/environment/kind-helm/test-scope.yaml
Labels: kind/bug, area/CI

#175 Identifier range per stream
  api/nsp/v1/model.pb.go
  api/nsp/v1/model.proto
  cmd/stateless-lb/config.go
  cmd/stateless-lb/identifier.go
  cmd/stateless-lb/identifier_test.go
  cmd/stateless-lb/main.go
  deployments/helm/templates/config.yaml
  docs/concepts.md
  pkg/ambassador/tap/conduit/conduit.go
  pkg/ambassador/tap/conduit/conduit_test.go
  pkg/ambassador/tap/conduit/manager.go
  pkg/ambassador/tap/conduit/manager_test.go
  pkg/ambassador/tap/stream/consts.go
  pkg/ambassador/tap/stream/factory.go
  pkg/ambassador/tap/stream/factory_test.go
  pkg/ambassador/tap/stream/stream.go
  pkg/ambassador/tap/stream/stream_test.go
  pkg/ambassador/tap/types/mocks/stream.go
  pkg/ambassador/tap/types/stream.go
  pkg/configuration/reader/converter.go
  pkg/configuration/reader/model.go
  pkg/loadbalancer/nfqlb/nfqlb.go
  pkg/loadbalancer/stream/loadbalancer.go
  pkg/loadbalancer/stream/target.go
  pkg/loadbalancer/types/nfqlb.go
  pkg/loadbalancer/types/target.go
  test/e2e/environment/kind-helm/dualstack/configuration/configuration-new-vip.yaml
  test/e2e/environment/kind-helm/dualstack/configuration/init.yaml
  test/e2e/environment/kind-helm/ipv4/configuration/configuration-new-vip.yaml
  test/e2e/environment/kind-helm/ipv4/configuration/init.yaml
  test/e2e/environment/kind-helm/ipv6/configuration/configuration-new-vip.yaml
  test/e2e/environment/kind-helm/ipv6/configuration/init.yaml
Labels: kind/enhancement, priority/high, size/M, concept/stream, area/architecture, area/configuration, component/stateless-lb, component/TAPA, component/NSP

#305 NSM uplift to v1.6.1
  deployments/helm/values.yaml
  docs/demo/deployments/nsm/values.yaml
  go.mod
  go.sum
Labels: kind/enhancement

#313 Add E2E tests badges
  docs/test.md
Labels: kind/documentation, size/S, area/CI
