Repository Nordix/Meridio, pull requests merged in 2022-09, with the labels that each got.

#241 Fix TAPA blocked Close if VIPs are updated at the same time
  pkg/ambassador/tap/conduit/configuration.go
Labels: kind/enhancement, priority/high, size/S, component/TAPA

#275 Structured logging
  docs/logging.md
  go.mod
  go.sum
  pkg/log/logger.go
  pkg/log/logger_test.go
Labels: kind/enhancement

#279 Fix potential crash while getting TLS credentials
  pkg/security/credentials/credentials.go
Labels: kind/bug, size/S, area/security

#280 Use structured logging in load-balancer
  cmd/frontend/internal/frontend/service.go
  cmd/load-balancer/egress.go
  cmd/load-balancer/main.go
  pkg/endpoint/endpoint.go
  pkg/health/checker.go
  pkg/health/connection/connection.go
  pkg/health/probe/probe.go
  pkg/health/wrapper.go
  pkg/kernel/nftset.go
  pkg/loadbalancer/flow/flow.go
  pkg/loadbalancer/nfqlb/netfilter.go
  pkg/loadbalancer/nfqlb/nfqlb.go
  pkg/loadbalancer/stream/loadbalancer.go
  pkg/nat/handler.go
  pkg/nsm/client.go
  pkg/nsm/interfacemonitor/common.go
Labels: kind/enhancement, component/load-balancer

#281 Use structured logging in nsp
  cmd/nsp/main.go
  pkg/nsp/registry/keepalive/keepalive.go
  pkg/nsp/registry/keepalive/keepalive_test.go
  pkg/nsp/server.go
Labels: kind/enhancement, component/NSP

#282 Use structured logging in ipam
  cmd/ipam/main.go
  pkg/ipam/server.go
  pkg/ipam/trench/watcher.go
Labels: kind/enhancement, component/IPAM

#284 Use structured logging in tapa
  cmd/tapa/main.go
  pkg/ambassador/tap/conduit/conduit.go
  pkg/ambassador/tap/conduit/conduit_test.go
  pkg/ambassador/tap/conduit/configuration.go
  pkg/ambassador/tap/conduit/manager.go
  pkg/ambassador/tap/conduit/manager_test.go
  pkg/ambassador/tap/stream/factory_test.go
  pkg/ambassador/tap/stream/stream.go
  pkg/ambassador/tap/stream/stream_test.go
  pkg/ambassador/tap/tap.go
  pkg/ambassador/tap/trench/conduit.go
  pkg/ambassador/tap/trench/trench.go
  pkg/ambassador/tap/trench/trench_test.go
  pkg/ambassador/tap/utils.go
Labels: kind/enhancement, component/TAPA

#285 Add structured logging in proxy
  cmd/proxy/internal/client/client.go
  cmd/proxy/internal/client/fullmesh.go
  cmd/proxy/internal/service/client.go
  cmd/proxy/internal/service/server.go
  cmd/proxy/main.go
  pkg/proxy/health/client.go
  pkg/proxy/proxy.go
  pkg/proxy/vip.go
Labels: kind/enhancement, component/proxy

#278 Add Security scan tools + fix CVEs
  Makefile
  build/base-image/Dockerfile
Labels: kind/enhancement, size/S, area/security

#291 Update golang.org/x/net to fix CVE-2022-27664
  build/base-image/Dockerfile
  go.mod
  go.sum
Labels: kind/bug, area/security

#298 Security scan output to json and documentation
  Makefile
  docs/security-scan.md
  hack/parse_security_scan.sh
Labels: kind/documentation, area/security, area/CI
