Repository Nordix/Meridio, pull requests merged in 2023-06, with the labels that each got.

#424 TAPA; add interface name allocation persistency
  pkg/nsm/interfacename/cache.go
  pkg/nsm/interfacename/cache_test.go
  pkg/nsm/interfacename/common.go
Labels: kind/bug, component/TAPA

#426 Release to v1.0.6 (documentation)
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation

#427 TAPA refresh with disabled target
  pkg/ambassador/tap/stream/stream.go
  pkg/ambassador/tap/stream/stream_test.go
Labels: kind/bug, component/TAPA

#431 Retry: return only last error
  pkg/retry/retry.go
Labels: kind/bug, size/S

#413 NSM uplift to v1.9.0
  config/templates/charts/meridio/values.yaml
  deployments/helm/values.yaml
  docs/demo/deployments/nsm/values.yaml
  go.mod
  go.sum
  pkg/controllers/attractor/nse-vlan.go
  pkg/controllers/attractor/stateless-lb-frontend.go
  test/e2e/environment/kind-operator/test-scope.yaml
Labels: kind/enhancement

#433 LB; remove replaced interface from interfaces list
  cmd/stateless-lb/main.go
Labels: kind/bug, size/S, area/networking, component/stateless-lb

#432 FE; advertise single AFI/SAFI pair via BGP
  cmd/frontend/internal/bird/constants.go
  cmd/frontend/internal/frontend/service.go
  cmd/stateless-lb/egress.go
Labels: kind/bug, size/S, concept/attractor, area/networking, component/front-end

#434 Release v1.0.7 (Documentation)
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation
