Repository Nordix/Meridio, pull requests merged in 2023-05, with the labels that each got.

#414 Versions documentation and test-scope
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation

#417 Frontend: Cleanup Monitor() function
  cmd/frontend/internal/env/config.go
  cmd/frontend/internal/frontend/notify.go
  cmd/frontend/internal/frontend/service.go
Labels: kind/bug, component/front-end

#415 Log: disable the Sample function
  pkg/log/logger.go
Labels: kind/bug, size/S
