Repository Nordix/Meridio, pull requests merged in 2023-02, with the labels that each got.

#354 tapa; graceful shutdown
  cmd/tapa/main.go
  pkg/ambassador/tap/trench/trench.go
Labels: kind/bug, size/S, component/TAPA

#353 frontend; lack of bfd session logged for gateways with static+bfd
  cmd/frontend/internal/bird/bird.go
  cmd/frontend/internal/bird/proto.go
  cmd/frontend/internal/bird/static_test.go
  cmd/frontend/internal/frontend/service.go
Labels: kind/enhancement, size/S, component/front-end

#348 Fix NSP Target Registry on stream conduit switch
  pkg/nsp/registry/sqlite/sqlite.go
  pkg/nsp/registry/sqlite/sqlite_test.go
Labels: kind/bug, component/NSP

#359 operator; fix max-targets validation for Streams
  api/v1/stream_webhook.go
Labels: kind/bug, size/S, concept/stream, component/operator

#362 Set persistentVolumeClaimRetentionPolicy for NSP and IPAM statefulsets
  config/templates/charts/meridio/deployment/ipam.yaml
  config/templates/charts/meridio/deployment/nsp.yaml
  deployments/helm/templates/ipam.yaml
  deployments/helm/templates/nsp.yaml
Labels: size/S, concept/trench, area/configuration, area/testing, component/NSP, component/IPAM

#367 Fix IP release on proxy and fix Node subnet allocation
  pkg/ipam/conduit/conduit.go
  pkg/ipam/conduit/conduit_test.go
  pkg/ipam/trench/trench_test.go
  pkg/proxy/proxy.go
Labels: kind/bug, size/S, area/networking, component/proxy, component/IPAM

#352 Conduit subnet release on deletion
  pkg/ipam/server.go
  pkg/ipam/storage/logger/logger.go
  pkg/ipam/trench/mocks/watcher.go
  pkg/ipam/trench/trench.go
  pkg/ipam/trench/watcher.go
  pkg/ipam/trench/watcher_test.go
Labels: kind/bug, priority/high, concept/conduit, component/IPAM

#369 Add training page on website
  website/docusaurus.config.js
  website/src/pages/markdown-page.md
  website/src/pages/training.md
Labels: kind/documentation

#368 Simplify target and make the internal struct private
  pkg/loadbalancer/stream/target.go
Labels: component/stateless-lb

#371 Update pictures and add documentation links
  Installation/assets/step-1.svg
  Installation/assets/step-2.svg
  Installation/assets/step-3.svg
  Installation/assets/step-4.svg
  Installation/assets/step-5.svg
  Installation/assets/step-6.svg
  Installation/assets/step-7.svg
  Installation/assets/step-8.svg
  Installation/assets/step-9.svg
  Installation/finish.md
  Installation/intro.md
  Installation/step-2.md
  Installation/step-3.md
  Installation/step-4.md
  Installation/step-5.md
  Installation/step-6.md
  Installation/step-7.md
  Installation/step-8.md
  Traffic-Path/finish.md
  Traffic-Path/intro.md
  Troubleshooting/Scenario-1/intro.md
  Troubleshooting/Scenario-1/scenario.md
  Troubleshooting/Scenario-2/intro.md
  Troubleshooting/Scenario-2/scenario.md
Labels: kind/documentation

#375 Adding scenario-1 and scenario-2 to the Training materials
  website/src/pages/training.md
  website/src/pages/training/troubleshooting-ctf/scenario-1.md
  website/src/pages/training/troubleshooting-ctf/scenario-2.md
Labels: kind/documentation, priority/high, size/M
