Repository Nordix/Meridio, pull requests merged in 2023-07, with the labels that each got.

#435 LB; nsm endpoint unregister with timeout
  cmd/stateless-lb/egress.go
  cmd/stateless-lb/main.go
  pkg/endpoint/endpoint.go
Labels: kind/bug, priority/medium, area/networking, component/stateless-lb

#436 Remove NSM authorize chain element
  cmd/proxy/internal/client/utils.go
  cmd/tapa/main.go
Labels: kind/bug, size/S, component/proxy, component/TAPA

#437 Release v1.0.8 (Documentation)
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation

#439 Retain legacy calculation of NSE expiration time
  pkg/nsm/client.go
  pkg/nsm/endpoint/expirationtime/nse_client.go
Labels: size/S, area/networking, component/stateless-lb, component/proxy

#442 FE; make BIRD use IANA approved ports for BFD (49152-65535)
  deployments/helm/templates/_helpers.tpl
  docs/components/frontend.md
  pkg/controllers/common/models.go
Labels: kind/enhancement, priority/high, concept/attractor, area/networking

#443 Fix configmap reconciler
  pkg/controllers/trench/configmap.go
Labels: kind/bug, priority/high, size/S, area/configuration, component/operator

#445 Release v1.0.10 (Documentation)
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation

#447 Release v1.0.11 (Documentation)
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation
