Repository Nordix/Meridio, pull requests merged in 2024-03, with the labels that each got.

#508 Release v1.0.17 (Documentation)
  test/e2e/environment/kind-operator/test-scope.yaml
  website/src/pages/versions.md
Labels: kind/documentation

#509 doc; update LB and FE component descriptions
  docs/components/frontend.md
  docs/components/stateless-lb.md
Labels: kind/documentation

#511 Expose metrics on HTTP
  docs/observability/readme.md
  pkg/metrics/server.go
Labels: kind/enhancement, area/security, component/stateless-lb, component/front-end

#513 NFQLB Update to 1.2.0 to change hash mode
  build/stateless-lb/Dockerfile
  pkg/loadbalancer/nfqlb/nfqlb.go
Labels: kind/enhancement, size/S, area/networking, component/stateless-lb
